@font-face {
    font-family: "Signika";
    src: url("res/Signika-Light.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "Signika";
    src: url("res/Signika-Regular.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "Signika";
    src: url("res/Signika-SemiBold.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Signika";
    src: url("res/Signika-Bold.ttf");
    font-weight: 800;
}

:root {
  --fg: #333;
  --fg2: #1C8198;
  --bg: #F2EFE6;
  --bg2: #DEDAD1;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background: var(--bg);
  font: 18px 'Signika', sans-serif;
  font-weight: 100;
  color: var(--fg);
  line-height: 1.5rem;
}

::-moz-selection { background: var(--fg); color: var(--bg); }
::selection { background: var(--fg); color: var(--bg); }

img {
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}

a{
  text-decoration: none;
  border-bottom: 1px solid var(--fg);
  transition: border-bottom-width 100ms, color 100ms;
  color: var(--fg);
  font-weight: 200;
}

a:hover{
  border-bottom: 2px solid var(--fg2);
  color: var(--fg2);
}

#all{
  width: 1000px;
  margin: 0 auto;
}
#main{
  width: 100%;
}

header{
  background-image: url(res/top.jpg);
  height: 10px;
  display: block;
}

footer{
  background-image: url(res/bottom.jpg);
  height: 37px;
  display: block;
  margin-top: 5rem;
}

b{
  font-weight: 800;
}

h1, nav{
  text-align: center;
  margin: 30px 0;
}

h1{
  margin-top: 55px;
  line-height: 3rem;
}

h3{
  font-size: 20px;
  font-weight: 800;
  margin-top: 50px;
}

nav{
  margin-bottom: 55px;
}

nav>a{
  border: none;
  transition: border-bottom-width 100ms, color 100ms;
}
nav>a:hover{
  border-bottom: 2px solid var(--fg2);
  color: var(--fg2);
}

nav>a.active{
  font-weight: 800;
}

#summary{
  text-align: center;
  margin: 40px auto;
}

#summary nav a{
  font-weight: 400;
}

#aboutme{
  width: 430px;
  margin: 0 auto;
}

ul{
  padding: 0 1rem;
}

li{
  margin-bottom: 0.5rem;
}

#contact{
  list-style: none;
}
#contact li{
  margin-bottom: 0.8rem;
}
.linkicon{
  margin-right: 12px;
}

#projects{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
}

#projects a{
  flex: 0 0 auto;
  padding: 15px;
  border: none;
  transition: transform 100ms;
  width: calc(100% / 3);
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  background-clip: content-box;
}

#projects a img{
  width: 100%;
}

#projects a:hover{
  transform: translate(3px, 0);
}

#projects a .label{
  position: absolute;
  background: var(--fg);
  color: var(--bg);
  padding: 0.5rem 1rem;
  bottom: 15px;
  opacity: 0;
}

#projects a:hover .label{
  opacity: 1;
}

.center{
  text-align: center;
  margin: 2rem 0;
}

#project img{
  width: 100%;
  margin: 15px 0;
}

#project .w66{
  width: 66%;
  display: inline-block;
}

#project .w50{
  width: 49%;
  display: inline-block;
}
#project .w33{
  width: 32.5%;
  display: inline-block;
}
#project .w25{
  width: 24%;
  display: inline-block;
}


.youtube{
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 15px 0;
  padding-top: 56.25%;
}

.vimeo{
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 15px 0;
}

.youtube iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* external links indicator */
/*
a[target]:after{
  content: url(res/ext.svg);
  vertical-align: baseline;
}
*/


dl{
  display: inline;
  font-weight: 100;
  margin-left: 1rem;
}

dt{
  display: inline;
  font-size: 1rem;
  background: var(--bg2);
  padding: 0.1rem 0.5rem;
  margin-right: 0.6rem;
  border-radius: 0.4rem;
}

@media only screen and (max-width: 1000px) {
  #all, #aboutme{
    width: 100%;
  }

  #main{
    padding: 0 2%;
  }

  #projects a{
    width: calc(100% / 2);
    padding: 1%;
  }

  #projects a .label{
    bottom: 0.5rem;
  }

  #project img{
    margin: 1% 0;
  }
}

@media only screen and (max-width: 600px) {
  #projects a{
    width: 100%;
    padding: 1% 0;
  }
  #projects a .label{
    bottom: 5px;
  }

  h1{
    font-size: 2.5rem;
  }

  video{
    width: 100%;
  }

  #project .w66, #project .w50, #project .w33, #project .w25{
    width: 100%;
  }
}
